In [3]:
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import glob
import os
warnings.filterwarnings('ignore')
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
pd.set_option('display.max_columns', None)

In [2]:
DF_09 = pd.read_csv('2009/STUDENT.csv')
DF_10 = pd.read_csv('2010/STUDENT.csv')
DF_11 = pd.read_csv('2011/STUDENT.csv')
DF_12 = pd.read_csv('2012/STUDENT.csv')
DF_13 = pd.read_csv('2013/STUDENT.csv')
DF_14 = pd.read_csv('2014/STUDENT.csv')
DF_15 = pd.read_csv('2015/STUDENT.csv')
DF_16 = pd.read_csv('2016/STUDENT.csv')
DF_17 = pd.read_csv('2017/STUDENT.csv')
DF_18 = pd.read_csv('2018/STUDENT.csv')
DF_19 = pd.read_csv('2019/STUDENT.csv')

In [3]:
#cols = ['CBO Ocupação 2002','Tipo Vínculo','Faixa Remun Média (SM)']
#RAIS_09 = pd.concat([pd.read_csv(f, delimiter=";", encoding = "ISO-8859-1", usecols = cols
                               # ) for f in glob.glob('/home/black/data/RAIS/2009/*.txt')],ignore_index=True)
#RAIS_2009 = pd.read_csv('~/data/RAIS/2009/MA2009.txt', encoding = "ISO-8859-1", delimiter= ';', usecols=cols)

In [4]:
DF = pd.concat([DF_09,DF_10,DF_11,DF_12,DF_13,DF_14,DF_15,DF_16,DF_17,DF_18, DF_19])

In [5]:
DF.head(2)

,Unnamed: 0,CO_ANO,CO_ESCOLA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,EDU_PAI,EDU_MAE,QT_PESSOAS_CASA,RENDA_MENSAL,NU_NOTA_GERAL,CO_MUNICIPIO,CO_UF,CO_DEPENDENCIA_ADM,IN_AGUA_INEXISTENTE,IN_ESGOTO_INEXISTENTE,IN_ENERGIA_INEXISTENTE,IN_LABORATORIO_INFORMATICA,IN_LABORATORIO_CIENCIAS,IN_SALA_ATENDIMENTO_ESPECIAL,IN_BIBLIOTECA,IN_SALA_LEITURA,IN_BANHEIRO,IN_BANHEIRO_PNE,QT_SALAS_UTILIZADAS,QT_EQUIP_TV,QT_EQUIP_DVD,QT_EQUIP_COPIADORA,QT_EQUIP_IMPRESSORA,QT_COMP_ALUNO,IN_INTERNET,IN_BANDA_LARGA,QT_FUNCIONARIOS,IN_ALIMENTACAO,IN_COMUM_MEDIO_MEDIO,IN_COMUM_MEDIO_INTEGRADO,IN_COMUM_MEDIO_NORMAL,IN_SALA_PROFESSOR,IN_QUADRA_ESPORTES,IN_COZINHA,IN_EQUIP_PARABOLICA,IN_ATIV_COMPLEMENTAR,QT_MATRICULAS,TITULACAO,NU_GRADUACAO,NU_ESPECIALIZACAO,NU_MESTRADO,NU_DOUTORADO,NU_CIENCIA_NATUREZA,NU_CIENCIAS_HUMANAS,NU_LINGUAGENS_CODIGOS,NU_MATEMATICA,NU_TEACHERS_DOMAIN,NU_ESCOLAS,NU_LICENCIADOS,NU_TEACHERS,IN_FORM_DOCENTE
0,0,2009,33052182.0,19.0,1.0,0.0,2.0,409.2,323.1,376.7,360.5,475.0,0.0,0.0,2.0,2.0,388.9,3305752,33,2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,16.0,1.0,1.0,1.0,1.0,10.0,1.0,1.0,110.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,35.666667,0.074074,42,12,0,0,0.145833,0.229167,0.4375,0.1875,48.0,1.291667,0.979167,48,0.780303
1,1,2009,33052182.0,18.0,0.0,1.0,2.0,390.1,448.2,397.2,422.0,750.0,2.0,3.0,1.0,2.0,481.5,3305752,33,2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,16.0,1.0,1.0,1.0,1.0,10.0,1.0,1.0,110.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,35.666667,0.074074,42,12,0,0,0.145833,0.229167,0.4375,0.1875,48.0,1.291667,0.979167,48,0.780303

In [6]:
DF[(DF.CO_DEPENDENCIA_ADM== 2) | (DF.CO_DEPENDENCIA_ADM == 3)].groupby('CO_ANO')['TITULACAO'].mean()

CO_ANO
2009    0.127958
2010    0.119274
2011    0.125921
2012    0.126524
2013    0.132813
2014    0.134722
2015    0.140254
2016    0.151804
2017    0.157872
2018    0.163110
2019    0.183631
Name: TITULACAO, dtype: float64

In [7]:
# Some features are binary for some years and quantity for others. Then, we need to binary all
quantity_to_binary = ['QT_EQUIP_TV', 'QT_EQUIP_DVD', 'QT_EQUIP_COPIADORA','QT_EQUIP_IMPRESSORA', 'IN_EQUIP_PARABOLICA']
for i in quantity_to_binary:
    DF.loc[DF[i]>0, i] = 1

In [8]:
k= pd.DataFrame()
k['miss'] = DF.isnull().sum()/DF.shape[0]
k['type'] = DF.dtypes
k.T

,Unnamed: 0,CO_ANO,CO_ESCOLA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,EDU_PAI,EDU_MAE,QT_PESSOAS_CASA,RENDA_MENSAL,NU_NOTA_GERAL,CO_MUNICIPIO,CO_UF,CO_DEPENDENCIA_ADM,IN_AGUA_INEXISTENTE,IN_ESGOTO_INEXISTENTE,IN_ENERGIA_INEXISTENTE,IN_LABORATORIO_INFORMATICA,IN_LABORATORIO_CIENCIAS,IN_SALA_ATENDIMENTO_ESPECIAL,IN_BIBLIOTECA,IN_SALA_LEITURA,IN_BANHEIRO,IN_BANHEIRO_PNE,QT_SALAS_UTILIZADAS,QT_EQUIP_TV,QT_EQUIP_DVD,QT_EQUIP_COPIADORA,QT_EQUIP_IMPRESSORA,QT_COMP_ALUNO,IN_INTERNET,IN_BANDA_LARGA,QT_FUNCIONARIOS,IN_ALIMENTACAO,IN_COMUM_MEDIO_MEDIO,IN_COMUM_MEDIO_INTEGRADO,IN_COMUM_MEDIO_NORMAL,IN_SALA_PROFESSOR,IN_QUADRA_ESPORTES,IN_COZINHA,IN_EQUIP_PARABOLICA,IN_ATIV_COMPLEMENTAR,QT_MATRICULAS,TITULACAO,NU_GRADUACAO,NU_ESPECIALIZACAO,NU_MESTRADO,NU_DOUTORADO,NU_CIENCIA_NATUREZA,NU_CIENCIAS_HUMANAS,NU_LINGUAGENS_CODIGOS,NU_MATEMATICA,NU_TEACHERS_DOMAIN,NU_ESCOLAS,NU_LICENCIADOS,NU_TEACHERS,IN_FORM_DOCENTE
miss,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
type,int64,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,int64,int64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,int64,int64,int64,float64,float64,float64,float64,float64,float64,float64,int64,float64

In [9]:
fields = ['IN_AGUA_INEXISTENTE', 'IN_ESGOTO_INEXISTENTE', 'IN_ENERGIA_INEXISTENTE', 'QT_EQUIP_TV','QT_EQUIP_DVD', 
          'QT_COM_ADMINISTRATIVO','QT_EQUIP_IMPRESSORA','QT_EQUIP_COPIADORA', 'IN_BANDA_LARGA', 'IN_BIBLIOTECA', 
          'IN_LABORATORIO_INFORMATICA', 'IN_LABORATORIO_CIENCIAS',]

DF['IN_INFRA_NENHUMA'] = 1


infra_elementar = (DF.IN_AGUA_INEXISTENTE==0) & (DF.IN_ESGOTO_INEXISTENTE==0)&(DF.IN_ENERGIA_INEXISTENTE ==0)
infra_basica = (DF.QT_EQUIP_TV!=0) & (DF.QT_EQUIP_DVD !=0) & (DF.IN_BANHEIRO!=0) & (DF.QT_EQUIP_IMPRESSORA!=0)

infra_adequada = (DF.QT_EQUIP_COPIADORA != 0)&(DF.IN_BANDA_LARGA != 0)|(DF.IN_BIBLIOTECA!=0)&(
    DF.IN_LABORATORIO_INFORMATICA!=0) 

infra_avancada = (DF.IN_LABORATORIO_CIENCIAS!=0)

DF.loc[(infra_elementar), 'IN_INFRA_ELEMENTAR'] = 1
DF.loc[((infra_elementar) & (infra_basica)), 'IN_INFRA_BASICA'] = 1
DF.loc[((infra_elementar)& (infra_basica) & (infra_adequada)), 'IN_INFRA_ADEQUADA'] = 1
DF.loc[((infra_elementar)& (infra_basica) & (infra_adequada) & (infra_avancada)), 'IN_INFRA_AVANCADA'] = 1

DF.loc[DF['IN_INFRA_ELEMENTAR']==1, 'IN_INFRA_NENHUMA']=0
DF.loc[(DF.IN_INFRA_ELEMENTAR==1) & (DF.IN_INFRA_BASICA==1), 'IN_INFRA_ELEMENTAR'] = 0
DF.loc[(DF.IN_INFRA_BASICA==1) & (DF.IN_INFRA_ADEQUADA==1), 'IN_INFRA_BASICA'] = 0
DF.loc[(DF.IN_INFRA_ADEQUADA==1) & (DF.IN_INFRA_AVANCADA==1), 'IN_INFRA_ADEQUADA'] = 0

DF[['IN_INFRA_ELEMENTAR', 'IN_INFRA_BASICA', 'IN_INFRA_ADEQUADA', 
    'IN_INFRA_AVANCADA']] = DF[['IN_INFRA_ELEMENTAR', 'IN_INFRA_BASICA', 'IN_INFRA_ADEQUADA', 
                                'IN_INFRA_AVANCADA']].fillna(0)

DF['IN_TP_ESCOLA'] = ""
DF.loc[(DF.CO_DEPENDENCIA_ADM== 2) | (DF.CO_DEPENDENCIA_ADM == 3), 'IN_TP_ESCOLA']= 'Municipal+Estadual'
DF.loc[(DF.CO_DEPENDENCIA_ADM == 4), 'IN_TP_ESCOLA'] = 'Privada'
DF.loc[(DF.CO_DEPENDENCIA_ADM == 1), 'IN_TP_ESCOLA'] = 'Federal'

In [10]:
DF.loc[DF['RENDA_MENSAL']==0, 'RENDA_NUM']=0
DF.loc[DF['RENDA_MENSAL']==1, 'RENDA_NUM']= 1039/2
DF.loc[DF['RENDA_MENSAL']==2, 'RENDA_NUM']= ((1039*2 - 1039)/2)+1039
DF.loc[DF['RENDA_MENSAL']==3, 'RENDA_NUM']=((1039*5 - 1039*2)/2)+1039*2
DF.loc[DF['RENDA_MENSAL']==4, 'RENDA_NUM']=((1039*10 - 1039*5)/2)+1039*5
DF.loc[DF['RENDA_MENSAL']==5, 'RENDA_NUM']=1039*10

DF['QT_PESSOAS_CASA'] = DF['QT_PESSOAS_CASA']+1
DF['RENDA_PERCAPITA']= DF.RENDA_NUM/DF.QT_PESSOAS_CASA

In [11]:
DF['STD_MEAN_ESCOLA'] = DF.groupby(['CO_ANO','CO_ESCOLA'])['NU_NOTA_GERAL'].transform('std')
DF['DIVERSIDADE'] = DF.NU_TEACHERS/DF.NU_TEACHERS_DOMAIN

In [12]:
DF.isnull().sum().to_frame().T

,Unnamed: 0,CO_ANO,CO_ESCOLA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_ST_CONCLUSAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,EDU_PAI,EDU_MAE,QT_PESSOAS_CASA,RENDA_MENSAL,NU_NOTA_GERAL,CO_MUNICIPIO,CO_UF,CO_DEPENDENCIA_ADM,IN_AGUA_INEXISTENTE,IN_ESGOTO_INEXISTENTE,IN_ENERGIA_INEXISTENTE,IN_LABORATORIO_INFORMATICA,IN_LABORATORIO_CIENCIAS,IN_SALA_ATENDIMENTO_ESPECIAL,IN_BIBLIOTECA,IN_SALA_LEITURA,IN_BANHEIRO,IN_BANHEIRO_PNE,QT_SALAS_UTILIZADAS,QT_EQUIP_TV,QT_EQUIP_DVD,QT_EQUIP_COPIADORA,QT_EQUIP_IMPRESSORA,QT_COMP_ALUNO,IN_INTERNET,IN_BANDA_LARGA,QT_FUNCIONARIOS,IN_ALIMENTACAO,IN_COMUM_MEDIO_MEDIO,IN_COMUM_MEDIO_INTEGRADO,IN_COMUM_MEDIO_NORMAL,IN_SALA_PROFESSOR,IN_QUADRA_ESPORTES,IN_COZINHA,IN_EQUIP_PARABOLICA,IN_ATIV_COMPLEMENTAR,QT_MATRICULAS,TITULACAO,NU_GRADUACAO,NU_ESPECIALIZACAO,NU_MESTRADO,NU_DOUTORADO,NU_CIENCIA_NATUREZA,NU_CIENCIAS_HUMANAS,NU_LINGUAGENS_CODIGOS,NU_MATEMATICA,NU_TEACHERS_DOMAIN,NU_ESCOLAS,NU_LICENCIADOS,NU_TEACHERS,IN_FORM_DOCENTE,IN_INFRA_NENHUMA,IN_INFRA_ELEMENTAR,IN_INFRA_BASICA,IN_INFRA_ADEQUADA,IN_INFRA_AVANCADA,IN_TP_ESCOLA,RENDA_NUM,RENDA_PERCAPITA,STD_MEAN_ESCOLA,DIVERSIDADE
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
#DF.to_csv('ALL_STUDENTS_v2.csv', index =False)
DF = pd.read_csv('ALL_STUDENTS_v2.csv')

In [5]:
#DF_SCHOOL = DF.copy()
DF_SCHOOL = pd.get_dummies(DF, columns=['TP_COR_RACA'])

new_cols = [col for col in DF_SCHOOL if col.startswith('TP_COR_RACA')] + ['TP_SEXO']

for x in new_cols:   
    DF_SCHOOL[x] = DF_SCHOOL.groupby(['CO_ANO','CO_ESCOLA'])[x].transform(sum)/ DF_SCHOOL.groupby(['CO_ANO','CO_ESCOLA'])[x].transform('count')

fields = ['EDU_PAI', 'EDU_MAE','QT_PESSOAS_CASA', 'RENDA_MENSAL','RENDA_PERCAPITA','NU_IDADE', 'NU_NOTA_CN',
             'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO','NU_NOTA_GERAL']

for i in fields:   
    
            DF_SCHOOL[i] = DF_SCHOOL.groupby(['CO_ANO','CO_ESCOLA'])[i].transform('mean')
        
DF_SCHOOL.drop_duplicates(['CO_ANO','CO_ESCOLA'], inplace=True)

In [6]:
DF.groupby('CO_ANO')['NU_TEACHERS'].count()

CO_ANO
2009     631604
2010     774937
2011     911309
2012     954009
2013    1049134
2014    1070778
2015    1128398
2016    1192812
2017    1078598
2018     920310
2019     777589
Name: NU_TEACHERS, dtype: int64

In [7]:
DF_SCHOOL.to_csv('ALL_SCHOOLS_v2.csv', index =False)

In [8]:
#FRIENDLY NAMES FOR GRAPHS. 

DF.loc[(DF.CO_DEPENDENCIA_ADM== 2) | (DF.CO_DEPENDENCIA_ADM == 3), 'CO_DEPENDENCIA_ADM']= 'Municipal+Estadual'
DF.loc[(DF.CO_DEPENDENCIA_ADM == 4), 'CO_DEPENDENCIA_ADM'] = 'Privada'
DF.loc[(DF.CO_DEPENDENCIA_ADM == 1), 'CO_DEPENDENCIA_ADM'] = 'Federal'


DF.loc[(DF.TP_COR_RACA == 0), 'TP_COR_RACA'] = 'Não declarada'
DF.loc[(DF.TP_COR_RACA == 1), 'TP_COR_RACA'] = 'Branca'
DF.loc[(DF.TP_COR_RACA == 2), 'TP_COR_RACA'] = 'Preta'
DF.loc[(DF.TP_COR_RACA == 3), 'TP_COR_RACA'] = 'Parda'
DF.loc[(DF.TP_COR_RACA == 4), 'TP_COR_RACA'] = 'Amarela'
DF.loc[(DF.TP_COR_RACA == 5), 'TP_COR_RACA'] = 'Indígena'

DF.loc[(DF.TP_SEXO == 0), 'TP_SEXO'] = 'Feminino'
DF.loc[(DF.TP_SEXO == 1), 'TP_SEXO'] = 'Masculino'

DF.loc[(DF.EDU_PAI == 0), 'EDU_PAI'] = '< 4ªSérie/Não sei'
DF.loc[(DF.EDU_PAI == 1), 'EDU_PAI'] = '4ª Série'
DF.loc[(DF.EDU_PAI == 2), 'EDU_PAI'] = '8ª Série'
DF.loc[(DF.EDU_PAI == 3), 'EDU_PAI'] = 'Ens. Médio'
DF.loc[(DF.EDU_PAI == 4), 'EDU_PAI'] = 'Faculdade'
DF.loc[(DF.EDU_PAI == 5), 'EDU_PAI'] = 'Pós-Gradução'


DF.loc[(DF.EDU_MAE == 0), 'EDU_MAE'] = '< 4ªSérie/Não sei'
DF.loc[(DF.EDU_MAE == 1), 'EDU_MAE'] = '4ª Série'
DF.loc[(DF.EDU_MAE == 2), 'EDU_MAE'] = '8ª Série'
DF.loc[(DF.EDU_MAE == 3), 'EDU_MAE'] = 'Ens. Médio'
DF.loc[(DF.EDU_MAE == 4), 'EDU_MAE'] = 'Faculdade'
DF.loc[(DF.EDU_MAE == 5), 'EDU_MAE'] = 'Pós-Gradução'


DF.loc[(DF.RENDA_MENSAL == 0), 'RENDA_MENSAL'] = 'Nenhuma'
DF.loc[(DF.RENDA_MENSAL == 1), 'RENDA_MENSAL'] = 'Até 1 sal.'
DF.loc[(DF.RENDA_MENSAL == 2), 'RENDA_MENSAL'] = '1 a 2 sal.'
DF.loc[(DF.RENDA_MENSAL == 3), 'RENDA_MENSAL'] = '2 a 5 sal.'
DF.loc[(DF.RENDA_MENSAL == 4), 'RENDA_MENSAL'] = '5 a 10 sal.'
DF.loc[(DF.RENDA_MENSAL == 5), 'RENDA_MENSAL'] = 'Acima de 10 sal.'

In [9]:
DF.to_csv('ALL_STUDENTS_v2_graphs.csv', index =False)

In [32]:
DF_SCHOOL[fields]

,EDU_PAI,EDU_MAE,QT_PESSOAS_CASA,RENDA_MENSAL,RENDA_PERCAPITA,NU_IDADE,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,NU_NOTA_GERAL
0,< 4ªSérie/Não sei,< 4ªSérie/Não sei,3.0,1 a 2 sal.,519.500000,19.0,409.2,323.1,376.7,360.5,475.0,388.90
1,8ª Série,Ens. Médio,2.0,1 a 2 sal.,779.250000,18.0,390.1,448.2,397.2,422.0,750.0,481.50
2,8ª Série,Ens. Médio,3.0,2 a 5 sal.,1212.166667,17.0,408.6,525.6,509.9,486.5,700.0,526.12
3,4ª Série,4ª Série,3.0,1 a 2 sal.,519.500000,19.0,512.7,482.6,493.1,418.2,600.0,501.32
4,< 4ªSérie/Não sei,< 4ªSérie/Não sei,3.0,2 a 5 sal.,1212.166667,18.0,269.4,384.0,323.0,347.8,425.0,349.84
...,...,...,...,...,...,...,...,...,...,...,...,...
777584,8ª Série,Pós-Gradução,3.0,Até 1 sal.,173.166667,18.0,469.4,375.1,538.1,612.7,560.0,511.06
777585,8ª Série,Ens. Médio,3.0,Nenhuma,0.000000,17.0,493.8,503.9,424.9,491.8,520.0,486.88
777586,4ª Série,< 4ªSérie/Não sei,4.0,Nenhuma,0.000000,17.0,498.6,366.7,427.8,433.6,320.0,409.34
777587,< 4ªSérie/Não sei,8ª Série,3.0,Até 1 sal.,173.166667,17.0,426.4,468.4,419.2,498.3,480.0,458.46
777588,8ª Série,Ens. Médio,3.0,Nenhuma,0.000000,17.0,431.4,525.3,500.3,495.1,600.0,510.42

In [31]:
DF_SCHOOL = pd.get_dummies(DF, columns=(['TP_COR_RACA', 'TP_SEXO']))

new_cols = [col for col in DF_SCHOOL if col.startswith('TP_COR_RACA')]
new_cols += [col for col in DF_SCHOOL if col.startswith('TP_SEXO')]

for x in new_cols:   
    DF_SCHOOL[x] = DF_SCHOOL.groupby(['CO_ANO','CO_ESCOLA'])[x].transform(sum)/ DF_SCHOOL.groupby(['CO_ANO','CO_ESCOLA'])[x].transform('count')

fields = ['EDU_PAI', 'EDU_MAE','QT_PESSOAS_CASA', 'RENDA_MENSAL','RENDA_PERCAPITA','NU_IDADE', 'NU_NOTA_CN',
             'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO','NU_NOTA_GERAL']

for i in fields:   
    
            DF_SCHOOL[i] = DF_SCHOOL.groupby(['CO_ANO','CO_ESCOLA'])[i].transform('mean')
        
DF_SCHOOL.drop_duplicates(['CO_ANO','CO_ESCOLA'], inplace=True)

DataError: No numeric types to aggregate

In [ ]:
DF_SCHOOL.to_csv('ALL_SCHOOLS_v2_graphs.csv', index =False)